<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @coupe_carriage.number %>
</p>
<strong>Присоединен к поезду</strong>
<% if @coupe_carriage.train %>
  <p><%= @coupe_carriage.train.number %></p>
<% else %>
  <p>Не указано</p>
<% end %>

<%= link_to 'Edit', edit_coupe_carriage_path(@coupe_carriage) %> |
<%= link_to 'Back', coupe_carriages_path %>
