<h1 class="h1">Administator tutu application</h1>

<%= link_to "Tickets", admin_tickets_path %><br>
<%= link_to "Trains", admin_trains_path %><br>
<%= link_to "Rotes", admin_routes_path %><br>
<%= link_to "Users", users_path %><br>
<%= link_to "Railway stations", admin_railway_stations_path %><br>