<%= form_for(ticket) do |form| %>
  <%= render 'common/errors', resource: ticket %>
  <div class="field">
    <%= form.label :passenger_name %>
    <%= form.text_field :passenger_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
