<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @sv_carriage.number %>
</p>
<strong>Присоединен к поезду</strong>
<% if @sv_carriage.train %>
  <p><%= @sv_carriage.train.number %></p>
<% else %>
  <p>Не указано</p>
<% end %>

<%= link_to 'Edit', edit_sv_carriage_path(@sv_carriage) %> |
<%= link_to 'Back', sv_carriages_path %>
