<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @seats_carriage.number %>
</p>
<strong>Присоединен к поезду</strong>
<% if @seats_carriage.train %>
  <p><%= @seats_carriage.train.number %></p>
<% else %>
  <p>Не указано</p>
<% end %>

<%= link_to 'Edit', edit_seats_carriage_path(@seats_carriage) %> |
<%= link_to 'Back', seats_carriages_path %>
