<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Маршрут поезда</strong>
  <ul>
    <% if @train.route.present? %>
      <li><%= @train.route.name %></li>
    <% else %>
      <li>Не указано</li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Информация о билетах</strong>
  <% if @train.tickets.empty? %>
  <p>На этот поезд нет билетов</p>
  <% else %>
    <% @train.tickets.each do |ticket| %>
      <ul>
        <li><%= ticket.passenger_name %></li>
      </ul>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Coupe carriages</strong>
  <ul>
    <% if @train.carriages.coupe.empty? %>
      <li>Не указано</li>
    <% else %>
      <% @train.carriages.coupe.each do |coupe| %>
        <li><%= link_to "#{coupe.number}", admin_coupe_carriage_path(coupe) %></li>
      <% end %>
    <% end %>
  </ul>
  <span>Total top places:</span>
  <%= @train.total_places("CoupeCarriage", "top_seats") %><br>
  <span>Total bottom places:</span>
  <%= @train.total_places("CoupeCarriage", "bottom_seats") %><br>
</p>

<p>
  <strong>Economy carriages</strong>
  <ul>
    <% if @train.carriages.economy.empty? %>
      <li>Не указано</li>
    <% else %>
      <% @train.carriages.economy.each do |economy| %>
        <li><%= link_to "#{economy.number}", admin_economy_carriage_path(economy) %></li>
      <% end %>
    <% end %>
  </ul>
  <span>Total top places:</span>
  <%= @train.total_places("EconomyCarriage", "top_seats") %><br>
  <span>Total bottom places:</span>
  <%= @train.total_places("EconomyCarriage", "bottom_seats") %><br>
  <span>Total side top seats:</span>
  <%= @train.total_places("EconomyCarriage", "side_top_seats") %><br>
  <span>Total side bottom_seats:</span>
  <%= @train.total_places("EconomyCarriage", "side_bottom_seats") %><br>
</p>

<p>
  <strong>Sv carriages</strong>
  <ul>
    <% if @train.carriages.sv.empty? %>
      <li>Не указано</li>
    <% else %>
      <% @train.carriages.sv.each do |sv| %>
        <li><%= link_to "#{sv.number}", admin_sv_carriage_path(sv) %></li>
      <% end %>
    <% end %>
  </ul>
  <span>Total Sv places:</span>
  <%= @train.total_places("SvCarriage", "bottom_seats") %><br>
</p>

<p>
  <strong>Seats carriages</strong>
  <ul>
    <% if @train.carriages.seats.empty? %>
      <li>Не указано</li>
    <% else %>
      <% @train.carriages.seats.each do |seats| %>
        <li><%= link_to "#{seats.number}", admin_seats_carriage_path(seats) %></li>
      <% end %>
    <% end %>
  </ul>
  <span>Total seat places:</span>
  <%= @train.total_places("SeatsCarriage", "seat_places") %><br>
</p>

<p><%= link_to "Добавить вагон", new_admin_train_carriage_path(@train) %></p>
<%= link_to 'Edit', edit_admin_train_path(@train) %>
<%= link_to 'Back', admin_trains_path %>
