<p id="notice"><%= notice %></p>
<p><strong><%= "#{@economy_carriage.type}" %></p></strong>

<p>
  <strong>Number:</strong>
  <%= @economy_carriage.number %>
</p>
<strong>Присоединен к поезду</strong>
<% if @economy_carriage.train %>
  <p><%= @economy_carriage.train.number %></p>
<% else %>
  <p>Не указано</p>
<% end %>
<p>
<strong>Top seats:</strong>
<% if @economy_carriage.top_seats.present? %>
  <%= @economy_carriage.top_seats %>
<% else %>
  не указано
<% end %>
</p>

<p>
<strong>Bottom seats:</strong>
<% if @economy_carriage.bottom_seats.present? %>
  <%= @economy_carriage.bottom_seats %>
<% else %>
  не указано
<% end %>
</p>

<p>
<strong>Side top seats:</strong>
<% if @economy_carriage.side_top_seats.present? %>
  <%= @economy_carriage.side_top_seats %>
<% else %>
  не указано
<% end %>
</p>

<p>
<strong>Side bottom seats:</strong>
<% if @economy_carriage.side_bottom_seats.present? %>
  <%= @economy_carriage.side_bottom_seats %>
<% else %>
  не указано
<% end %>
</p>

<%= link_to 'Edit', edit_economy_carriage_path(@economy_carriage) %> |
<%= link_to 'Back', economy_carriages_path %>
